In [56]:
import pandas as pd

In [57]:
df=pd.read_csv("../data/app_detail_data_1.csv")

In [58]:
df.head()

,Unnamed: 0,game name,description,price,categories,genres,recommendations
0,0,Counter-Strike,Play the world's number 1 online action game. ...,"₩ 10,500","['Multi-player', 'PvP', 'Online PvP', 'Shared/...",Action,98065.0
1,1,Team Fortress Classic,One of the most popular online action games of...,"₩ 5,500","['Multi-player', 'PvP', 'Online PvP', 'Shared/...",Action,3664.0
2,2,Deathmatch Classic,Enjoy fast-paced multiplayer gaming with Death...,"₩ 5,500","['Multi-player', 'PvP', 'Online PvP', 'Shared/...",Action,1250.0
3,3,Half-Life: Opposing Force,Return to the Black Mesa Research Facility as ...,"₩ 5,500","['Single-player', 'Multi-player', 'Valve Anti-...",Action,7834.0
4,4,Ricochet,A futuristic action game that challenges your ...,"₩ 5,500","['Multi-player', 'PvP', 'Online PvP', 'Valve A...",Action,2637.0

In [59]:
df.drop("Unnamed: 0",axis=1, inplace=True)

In [60]:
df.head()

,game name,description,price,categories,genres,recommendations
0,Counter-Strike,Play the world's number 1 online action game. ...,"₩ 10,500","['Multi-player', 'PvP', 'Online PvP', 'Shared/...",Action,98065.0
1,Team Fortress Classic,One of the most popular online action games of...,"₩ 5,500","['Multi-player', 'PvP', 'Online PvP', 'Shared/...",Action,3664.0
2,Deathmatch Classic,Enjoy fast-paced multiplayer gaming with Death...,"₩ 5,500","['Multi-player', 'PvP', 'Online PvP', 'Shared/...",Action,1250.0
3,Half-Life: Opposing Force,Return to the Black Mesa Research Facility as ...,"₩ 5,500","['Single-player', 'Multi-player', 'Valve Anti-...",Action,7834.0
4,Ricochet,A futuristic action game that challenges your ...,"₩ 5,500","['Multi-player', 'PvP', 'Online PvP', 'Valve A...",Action,2637.0

In [61]:
len(df)

2851

In [62]:
for i in range(len(df)):
    if df.loc[i]["description"][0]=="<":
        df.drop(i, inplace=True)

In [65]:
df.dropna(axis=0, inplace=True)

In [66]:
len(df)

1035

In [67]:
df.head()

,game name,description,price,categories,genres,recommendations
0,Counter-Strike,Play the world's number 1 online action game. ...,"₩ 10,500","['Multi-player', 'PvP', 'Online PvP', 'Shared/...",Action,98065.0
1,Team Fortress Classic,One of the most popular online action games of...,"₩ 5,500","['Multi-player', 'PvP', 'Online PvP', 'Shared/...",Action,3664.0
2,Deathmatch Classic,Enjoy fast-paced multiplayer gaming with Death...,"₩ 5,500","['Multi-player', 'PvP', 'Online PvP', 'Shared/...",Action,1250.0
3,Half-Life: Opposing Force,Return to the Black Mesa Research Facility as ...,"₩ 5,500","['Single-player', 'Multi-player', 'Valve Anti-...",Action,7834.0
4,Ricochet,A futuristic action game that challenges your ...,"₩ 5,500","['Multi-player', 'PvP', 'Online PvP', 'Valve A...",Action,2637.0

In [69]:
df.to_csv("../data/game_detail_preprocessing.csv")